---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Coding Day | Agentic Hamburg">
  <Header />

  <main class="px-4 py-36 pb-[800px] sm:px-6 lg:px-8">
    <div class="mx-auto max-w-6xl">
      <div class="mx-auto max-w-3xl space-y-6">
        <h1 class="display-title">
          Coding Day
        </h1>
        <p class="text-lg text-gray-700">
          Psst, please don't tell anybody about this yet...
        </p>
      </div>
    </div>
  </main>

  <Footer />
</Layout>
